<div class="card">
  <div class="card-content">
    <span>Nueva Tarea</span>
    <form [formGroup]="newtaskForm" (ngSubmit)="onSubmit()" class="col s6">
      <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="date" class="form-control" [(ngModel)]="task.fecha" formControlName="fecha">
      </div>
      <div class="form-group">
        <label for="tarea">Descripción</label>
        <input type="text" class="form-control" [(ngModel)]="task.descripcion" formControlName="descripcion">
      </div>
      <button type="submit" class="btn btn-primary btnColor" [disabled]="!newtaskForm.valid">Añadir Tarea</button>
      &nbsp;
    </form>
  </div>
</div>