<div *ngIf="tasks?.length > 0;else noTasks">
  <ul *ngFor="let task of tasks" class="collection">
    <li class="collection-item" (dblclick)="deleteTask($event, task)">
      <strong>{{ task.fecha }}</strong> : {{ task.descripcion }}
      <a href="#" class="secondary-content">
        <i (click)="deleteTask($event, task)" class="fa fa-trash"></i>
        &nbsp;
        <i (click)="editTask($event, task)" class="fa fa-pencil"></i>
      </a>
      <div *ngIf="editState && taskToEdit.id === task.id">
        <form (ngSubmit)="updateTask(task)">
          <div class="row">
            <div class="input-field col s6">
              <input type="date" name="fecha" placeholder="Editar Fecha" [(ngModel)]="task.fecha">
            </div>
            <div class="input-field col s6">
              <input type="text" name="descripcion" placeholder="Editar Descripción" [(ngModel)]="task.descripcion">
            </div>
            <input type="submit" class="btn" value="Actualizar Tarea">
            &nbsp;
            <button class="btn red" (click)="deleteTask($event, task)">Eliminar Tarea</button>
          </div>
        </form>
      </div>

    </li>
  </ul>
</div>

<ng-template #noTasks>
  <p>No hay Tareas creadas.</p>
</ng-template>