<div class="loading" *ngIf="loading">
  <img src="../../../assets/imagenes/loading.gif"/>
</div>

<div *ngIf="tasks">
  <ul *ngFor="let task of tasks" class="collection">
    <li class="collection-item" (dblclick)="deleteTask($event, task)">
      <a href="#" class="secondary-content noDecoration">
        <i (click)="deleteTask($event, task)" class="fa fa-trash"></i>
        &nbsp;
        <i (click)="editTask($event, task)" class="fa fa-pencil"></i>
      </a>
      <strong>Fecha: </strong>{{ task.fecha }}<br>
      <strong>Descripción: </strong>{{ task.descripcion }}
      <div *ngIf="editState && taskToEdit.id === task.id">
        <br>
        <form [formGroup]="taskForm" (ngSubmit)="updateTask(task)">
          <div class="row">
            <div class="input-field col s6">
              <label for="fecha">Fecha</label>
              <br>
              <input type="date" formControlName="fecha" [(ngModel)]="task.fecha" >
            </div>
            <div class="input-field col s6">
              <label for="fecha">Descripción</label>
              <br>
              <input type="text" formControlName="descripcion" [(ngModel)]="task.descripcion">
            </div>
          </div>
          <div>
            <input type="submit" class="btn btnAct" [disabled]="!taskForm.valid" value="Actualizar Tarea">
            &nbsp;
            <button class="btn btnDlt" (click)="deleteTask($event, task)">Eliminar Tarea</button>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>