nav {
    font-family: Youth;
    background: #111111 !important;
}

.imagenLogo{
    width: 30px; height: 50px;
    margin-bottom: 5px;
}

.btn{
    background-color: #00BCD4;
    font-family: Youth;
}
.btn:hover{
    background-color: #2274E1;
}

.imagenLogo{
    width: 30px; height: 50px;
    margin-top: 5px;
    margin-left: 10px;
}

#colorText{
    color: #00BCD4;
}

.row{
    text-align: center;
    display: block;
    font-family: Youth;
    font-size: 25px;
    color: #ffffff;
    margin-left: 17px;
    margin-top: 20px;
}
    #azul{
        color: #00BCD4;
    }






