@font-face {
    font-family: Youth;
    src: url(assets/fonts/YOUTHAN_.ttf);
}
@font-face {
    font-family: Oswald;
    src: url(assets/fonts/Oswald-Regular.ttf);
}

body{
    background-color: #212121;
}

